
.pic2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.p2{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.pic2leftCard{
    display: flex;
    flex-direction: column;
    
}
.p2 p{
    letter-spacing: .5px;
    font: 400 16px / 1.3  Helvetica, Arial, sans-serif;
}
.p2 h1{
    font-size: xxx-large;
}
.pic2rightCard{
    z-index: -1;
}